.toggleBtn {
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.toggleBtn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.homeMarket {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(400px);
    gap: 50px;
}

.navButton {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateX(100px);
}

.navButton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navButton:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}